body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  min-height: 100vh;
  padding: 30px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.form-section {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.form-section input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
}

.save-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.table-section {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #334155;
  padding: 15px;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #475569;
}

.action-btn {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

.show-btn {
  background: blue;
}

.copy-btn {
  background: orange;
}

.delete-btn {
  background: red;
}